.center, .center-column, .top, .right, .bottom, .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}

.right {
  justify-content: flex-end;
}

.bottom {
  align-items: flex-end;
}

.left {
  justify-content: flex-start;
}

.single-spaced, .single-spaced * {
  line-height: 1;
}

.is-shaded {
  opacity: .6;
}

.columns {
  margin-left: 0;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.relative {
  position: relative;
}
